<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="reorderingMethod" label="Reordering Method" type="enum" default="0"
                 values="Swap A and B|Insert A before B|Insert A after B"/>
        <setting type="labelenum" id="test16" label="32016" values="bb|aa|dd|cc" sort="no"/>
        <setting id="fontSize" label="Font Size" type="enum" default="0"
                 values="Small|Medium|Large"/>
        <setting type="labelenum" id="new-thumbSize" label="Tumbnail Size" lvalues="145|270|13|14"/>
        <setting id="thumbSize" label="Tumbnail Size" type="enum" default="1"
                 values="Small|Large"/>
    </category>
</settings>
