<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="reorderingMethod" label="Reordering Method" type="enum" default="0"
                 values="Swap A and B|Insert A before B|Insert A after B"/>
        <setting id="fontSize" label="Font Size" type="enum" default="0"
                 values="Small|Medium|Large"/>
        <setting id="thumbSize" type="integer" label="Font Size" help="">
                 <level>0</level>
                 <default>145</default>
                 <constraints>
                    <options>
                       <option label="Small">145</option>
                       <option label="Large">290</option>
                    </options>
                 </constraints>
	            <control type="spinner" format="string"/>
        </setting>
    </category>
</settings>
